{% load timetables %}
<li class="clearfix course">
    <h5 class="pull-left">{{ thing.fullname }}</h5>
    <div class="pull-right clearfix">
        <a class="pull-left more" href="#">more</a>
        <a href="#" class="pull-left btnAddSingleLecture btn btn-add btn-success">Add</a>
    </div>
    
    <ul class="courseMoreInfo">
    {% for subthing in thing.thing_set.all %}
            {% include_thing_template "things/thing-%s.html" subthing %}
    {% endfor %}
    </ul>
</li>
